// out: ../css/jsjf_index.css, compress: true, sourceMap: false

.header {
    background: url(../images/jsjf_header_bg.jpg) no-repeat top center;
    height: 454px;
}

.hotnews {
    h1 {
        font: 700 48px/2.5 '微软雅黑';
        color: #f00;
        text-align: center;

        a {
            color: #f00;
        }
    }
}

.box {
    .box_l {
        float: left;
    }

    .box_r {
        float: right;

        .list1 .content {
            width: 295px;
        }
    }
}

.list1 {
    margin-bottom: 20px;

    .tu {
        float: left;
        width: 390px;
    }

    .content {
        float: left;
        width: 500px;
        height: 291px;
        border: 1px solid #b8cfe7;
        background: url(../images/jsjf_list_bg.jpg) repeat-x top center;

        .top {
            height: 36px;
            border-bottom: 1px solid #b8cfe7;

            ul {
                li {
                    float: left;

                    a {
                        display: inline-block;
                        width: 110px;
                        height: 36px;
                        line-height: 36px;
                        text-align: center;
                        font-size: 16px;
                        color: #333;
                    }

                    &.now {
                        a {
                            background-color: #59aaf0;
                            color: #fff;
                        }
                    }
                }
            }

            >a {
                float: right;
                line-height: 36px;
                font-size: 14px;
                color: #666;
                padding-right: 15px;

                &:hover {
                    color: #f00;
                    text-decoration: underline;
                }
            }
        }

        .bottom {
            position: relative;

            >div {
                position: absolute;
                width: 100%;
                display: none;

                &:first-child {
                    display: block;
                }

                ul {
                    padding: 8px 15px;

                    li {
                        background: url(../images/jsjf_icon1.jpg) no-repeat 0px center;

                        a {
                            display: block;
                            height: 34px;
                            line-height: 34px;
                            font-size: 14px;
                            color: #333;
                            padding-left: 14px;

                            &:hover {
                                color: #f00;
                            }
                        }
                    }
                }
            }
        }

    }
}

.zcwj {
    width: 100%;
    height: 291px;
    border: 1px solid #b8cfe7;
    background: url(../images/jsjf_list_bg.jpg) repeat-x top center;

    .title {
        height: 36px;
        border-bottom: 1px solid #b8cfe7;

        ul {
            li {
                float: left;

                a {
                    display: inline-block;
                    width: 110px;
                    height: 36px;
                    line-height: 36px;
                    text-align: center;
                    font-size: 16px;
                    color: #333;
                }

                &.now {
                    a {
                        background-color: #59aaf0;
                        color: #fff;
                    }
                }
            }
        }
    }
}

.list2 {
    width: 420px;
    float: left;
    border: 1px solid #b5c2d6;
    margin: 10px;

    .top {
        height: 30px;
        border-bottom: 1px solid #b5c2d6;
        background: url(../images/jsjf_libg2.jpg) repeat-x top center;

        ul {
            li {
                float: left;

                a {
                    display: inline-block;
                    width: 90px;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    font-size: 14px;
                    color: #333;
                }

                &.now {
                    a {
                        background: url(../images/jsjf_libg1.jpg) repeat-x top center;
                        color: #333;
                    }
                }
            }
        }

        >a {
            float: right;
            line-height: 30px;
            font-size: 14px;
            color: #666;
            padding-right: 15px;

            &:hover {
                color: #f00;
                text-decoration: underline;
            }
        }
    }

    .bottom {
        position: relative;
        height: 196px;
        background-color: #fff;
        overflow: hidden;

        >div {
            position: absolute;
            background-color: #fff;
            width: 100%;
            display: none;

            &:first-child {
                display: block;
            }

            ul {
                padding: 8px 15px;

                li {
                    background: url(../images/jsjf_icon1.jpg) no-repeat 0px center;

                    a {
                        display: block;
                        height: 30px;
                        line-height: 30px;
                        font-size: 14px;
                        color: #333;
                        padding-left: 14px;

                        &:hover {
                            color: #f00;
                        }
                    }
                }
            }
        }

        .tu {
            width: 100%;

            img {
                width: 100%;
            }
        }
    }
}

.footer {
    background-color: #d1e9fd;

    .wz {
        font-size: 16px;
        color: #333;
        text-align: center;
        line-height: 130px;
    }
}


.current_location {
    padding: 0 15px;
    height: 32px;
    border-bottom: 2px solid #437cda;

    .title {
        float: left;
        font-size: 16px;
        color: #437cda;
        line-height: 2;
        padding-left: 10px;
        position: relative;

        &::before {
            content: '';
            width: 4px;
            height: 16px;
            background-color: #437cda;
            color: #437cda;
            position: absolute;
            top: 50%;
            left: 0;
            margin-top: -9px;
        }
    }

    .location {
        float: right;
        font-size: 14px;
        color: #437cda;
        line-height: 2;

        a {
            color: #437cda;
        }
    }
}

.detail {
    width: 100%;

    h2 {
        font-size: 18px;
        text-align: center;
        color: #437cda;
        line-height: 2;
        border-bottom: 1px solid #ddd;

        p {
            font-size: 12px;
            text-align: center;
            color: #666;
            line-height: 2;
        }
    }

    .detail_info {
        font-size: 14px;
        line-height: 1.5;
        color: #333;
        padding: 15px;

        img {
            max-width: 100%;
        }
    }
}

.newsList {
    ul {
        padding: 15px;

        li {
            a {
                display: block;
                width: 100%;
                height: 34px;
                line-height: 34px;
                font-size: 14px;
                color: #333;

                &:hover {
                    color: #f00;
                }
            }
        }
    }
}

.imgsList {
    ul {
        padding: 15px;

        li {
            float: left;
            margin: 0 20px 20px;

            a {
                text-align: center;
                line-height: 20px;
                font-size: 16px;
                color: #333;

                &:hover {
                    color: #f00;
                }

                img {
                    width: 350px;
                    height: 186px;
                }
            }
        }
    }
}